*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url("bg.jpg");
    visibility: 0.8;
    color: white;
}
.container{
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmiv;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b72222;
    background-color: #2deab1;

}
.reset{
    height: 50px;
    width: 84px;
    border-radius: 18px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#msg{
    font-size: 50px;
    color: rgb(122, 51, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}
.my-4{
    color: chocolate;
    margin: 20px;
}
.ayu{
    color: chocolate;
    letter-spacing: 3px;
    margin:22px;

}